
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @await RenderSectionAsync("CssScripts" , required: false)
    <title>_ExampleLayout</title>
</head>
<body>
    <header>
        
    </header>
    <div>
        <br />
        <br />
        <br />
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <br />
        <br />
        <br />
    </div>
    <footer>

    </footer>
    @await RenderSectionAsync("JsScripts" , required: false)
</body>
</html>
