@using ETrade.Entities.Concrete;
@using ETrade.Web.Models.ProductViewModels;


@{
    ViewData["Title"] = "Update";
}

@model UpdateProductViewModel

<h1>Ürün Güncelle</h1>
<br />
@if (ViewData["UpdateError"] is not null)
{
    <div class="alert alert-danger" role="alert"> @ViewData["UpdateError"] </div>
}

<form asp-controller="Product" asp-action="UpdateProduct" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Ürün İsim :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Name" asp-for="Name">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Ürün Marka :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="TradeMark" asp-for="TradeMark">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Ürün Fiyat :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Price" asp-for="Price">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Ürün Stok :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Stock" asp-for="Stock">
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>
</form>

